# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp

# Git
.git/
.gitignore

# DVC
.dvc/cache/
.dvc/tmp/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/
htmlcov/
.coverage
*.cover

# Logs
*.log
logs/

# Data (géré par DVC)
data/raw/
data/processed/

# MLflow
mlruns/