# Data (géré par DVC)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models (géré par DVC)
models/*
!models/.gitkeep

# MLflow
mlruns/
mlflow.db

# Experiments logs
experiment_logs/

# DVC
.dvc/cache

# Environment
.env
venv/
env/

# Jupyter
.ipynb_checkpoints/
